<html>
	<head>
		<title>Colin's Transformer</title>
		<script src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>
	</head>
	<body>
		<div id="app">
			<h1>Multi Step Transform Tool</h1>
			<table border="1" style="border: 1px solid black; width: 100%;">
				<tr>
					<td rowspan="2" style="width: 50%; vertical-align: top;">
						<button>Load Transformation</button>
						<select v-for="filet in filestransforms">
							<option value="{{ filet }}">{{ filet }}</option>
						</select>
						<div v-for="trans in transforms">
							<table border="1" style="width: 100%; border: 1px solid green;">
								<tr style="height:0px;">
									<th width="5%"></th><th width="5%"></th><th width="5%"></th><th width="5%"></th><th width="5%"></th><th width="5%"></th><th width="5%"></th><th width="5%"></th><th width="5%"></th><th width="5%"></th>
									<th width="5%"></th><th width="5%"></th><th width="5%"></th><th width="5%"></th><th width="5%"></th><th width="5%"></th><th width="5%"></th><th width="5%"></th><th width="5%"></th><th width="5%"></th>
								</tr>
								<tr>
									<td colspan="1"><button v-on:click="delrule(trans.seq)">Del</button></td>
									<td colspan="1">Rule:{{ trans.seq }}</td>
									<td colspan="17"><input v-model="trans.desc" v-on:blur="rulechange(trans.seq)" style="width: 100%;" placeholder="Rule Description" /></td>
									<td colspan="1"><button v-on:click="moveup(trans.seq)">Up</button></td>
								</tr>
								<tr>
									<td colspan="1"><button v-on:click="applyrule(trans.seq)">Apply</button></td>
									<td colspan="1">From:</td>
									<td colspan="17"><input v-model="trans.frompattern" v-on:blur="rulechange(trans.seq)" style="width: 100%;" placeholder="Regular Expression" /></td>
									<td colspan="1"><button v-on:click="movedown(trans.seq)">Down</button></td>
								</tr>
								<tr>
									<td colspan="1"></td>
									<td colspan="1">To:</td>
									<td colspan="17"><input v-model="trans.topattern" v-on:blur="rulechange(trans.seq)" style="width: 100%;" placeholder="Regular Expression" /></td>
									<td colspan="1"></td>
								</tr>
							</table>
						<div>
					</td>
					<td style="width: 50%;">
						<b>Input</b>
						<button>Load Transformation</button>
						<select v-for="filetin in filestransin">
							<option value="{{ filetin }}">{{ filetin }}</option>
						</select><br/>
						<textarea v-model="inputdata" style="width: 100%; height: 300px;"></textarea>
					</td>
				</tr>
				<tr>
					<td>
						<b>Output</b>
						<button>Load Transformation</button>
						<select v-for="filetout in filestransout">
							<option value="{{ filetout }}">{{ filetout }}</option>
						</select><br/>
						<textarea v-model="outputdata" style="width: 100%; height: 300px;"></></textarea>
					</td>
				</tr>
			</table>
		</div>
		<script type="text/javascript">
			var app = new Vue({
				el: '#app',
				data: {
					filestransforms: [],
					filestransin: [],
					filestransout: [],
					inputdata: "",
					outputdata: "",
					transforms: [
						{
							seq: 1,
							desc: "",
							frompattern: "",
							topattern: "",
							applied: "",
						}],
				},
				created: function() {
					// Load the list of transformmation files
					var xmlhttp1 = new XMLHttpRequest();
					xmlhttp1.onreadystatechange = function() {
						if (xmlhttp1.readyState == XMLHttpRequest.DONE) {
							if (xmlhttp1.status == 200) {
								filestransforms = JSON.parse( xmlhttp1.responseText );
								console.log(filestransforms);
							} else {
								alert("Error getting transform directory list");
							}
						}
					};
					xmlhttp1.open("GET", "https://jayh13.github.io/transforms/files.js", true);
					xmlhttp1.send();
					// Load the list of transform input files
					var xmlhttp2 = new XMLHttpRequest();
					xmlhttp2.onreadystatechange = function() {
						if (xmlhttp2.readyState == XMLHttpRequest.DONE) {
							if (xmlhttp2.status == 200) {
								filestransin = JSON.parse( xmlhttp2.responseText );
								console.log(filestransin);
							} else {
								alert("Error getting transform input directory list");
							}
						}
					};
					xmlhttp2.open("GET", "https://jayh13.github.io/transin/files.js", true);
					xmlhttp2.send();
					// Load the list of transform output files
					var xmlhttp3 = new XMLHttpRequest();
					xmlhttp3.onreadystatechange = function() {
						if (xmlhttp3.readyState == XMLHttpRequest.DONE) {
							if (xmlhttp3.status == 200) {
								filestransout = JSON.parse( xmlhttp3.responseText );
								console.log(filestransout);
							} else {
								alert("Error getting transform output directory list");
							}
						}
					};
					xmlhttp3.open("GET", "https://jayh13.github.io/transout/files.js", true);
					xmlhttp3.send();
				},
				methods: {
					delrule(seq) {
					
					},
					movup(seq) {
					
					},
					movedown(seq) {
					
					},
					applyrule(seq) {
					
					},
					rulechange(seq) {
						if (seq == this.transforms.length) {
							var t = this.transforms[seq - 1];
							if (t.desc !== "" || t.topattern !== "" || t.frompattern !== "") {
								this.transforms.push({
										seq: seq + 1,
										desc: "",
										frompattern: "",
										topattern: "",
										applied: "",
									})
							}
						}
					}
				}
			})
		</script>
	</body>
</html>